.app {
  font-family: "Lato", sans-serif;
}

.page {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}

.myContainer {
  padding: 80px 125px;
}

.page__bg {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  flex: 1.2;
  background-color: #e8590c;
  overflow: hidden;
}

.img--bg {
  position: absolute;
  bottom: 10px;
  right: -5px;
  z-index: 1;
  width: 90%;
}

.page__form {
  flex: 1;
}

.d-flex-col {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.col-33 {
  flex: 33%;
}

.page__form h1 {
  font-family: "Open Sans", sans-serif !important;
  color: #e8590c;
  font-size: 45px;
  font-weight: bold;
}

.page__form p {
  margin-top: 24px;
}

.myform-group {
  position: relative;
  margin-top: 20px;
}

.myform-group h3 {
  font-size: 14px;
}

.custom__field {
  border: none;
  border-bottom: 1px solid #a0a4a8;
  outline: none !important;
  border-radius: unset;
  padding-bottom: 5px;
  width: 100%;
}

.custom__field:focus {
  outline-color: transparent;
  outline-style: none;
}

.icon__input {
  position: absolute;
  right: 10px;
}

.text-16 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.text--black3 {
  color: #a0a4a8;
}

.mainBtn {
  width: 100%;
  margin-top: 50px;
  padding: 15px 15px;
  border: none;
  outline: none;
  background-color: #e8590c;
  color: white;
  font-weight: bold;
}

.sidebar {
  display: flex;
  position: fixed;
  height: 100vh;
}

.sidebar__orange {
  width: 64px;
  background-color: #e8590c;
  padding: 24px 14px;
}

.sidebar__orange img {
  width: 40px;
  height: 40px;
}

.sidebar__drawer {
  width: 261px;
  background-color: #f5f5f5;
  padding: 24px 37px 24px 16px;
}

.photo__profile {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile__detail {
  margin-left: 10px;
}

.profile__detail h3 {
  font-size: 14px;
  color: #25282b;
  font-weight: bold;
  margin: 0;
}

.profile__detail h5 {
  font-size: 12px;
  color: #a0a4a8;
  font-weight: bold;
  margin: 0;
  padding-top: 8px;
}

.mainSidebar {
  margin-top: calc(80px - 16px);
}

.mainSidebar .active {
  background-color: #e8e8e8;
  color: #e8590c;
}

.mainSidebar .active svg path {
  fill: #e8590c !important;
}

.mainSidebar__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
  border-radius: 3px;
  padding: 9px;
}

.mainSidebar__item:hover {
  transition: all 0.3s;
  background-color: #e8e8e8;
  color: #e8590c;
  cursor: pointer;
}

.mainSidebar__item:hover svg path {
  fill: #e8590c;
}

.mainSidebar__item svg {
  width: 20px;
  height: 20px;
}

.mainSidebar__item h2 {
  font-size: 14px;
  margin: 0;
  margin-left: 17px;
  font-weight: bold;
}

.main {
  position: relative;
  left: calc(64px + 261px);
  width: calc(100% - 64px - 261px);
  padding: 24px 165px 24px 30px;
}

.big-title {
  font-size: 60px;
  margin: 0;
  color: black;
  font-weight: normal;
}

@media all and (max-width: 989px) {
  .page__bg {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .myContainer {
    padding: 25px;
  }
}
